{% extends "layouts/default.njk" %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Flu vaccinations</h2>
      </div>
    </div>

    <main class="container">
      <p class="lead">{Introductory text about flu vaccinations goes here.}</p>
    </main>

{% endblock %}
