{% extends "layouts/default.njk" %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Wellness assessments</h2>
      </div>
    </div>

    <main class="container">
      <p class="lead">{Introductory text about wellness assessments goes here.}</p>
      <h2>Assessment services:</h2>
      <ul>
        <li>Finger Prick Blood test</li>
        <li>Random blood glucose measuremnts</li>
        <li>Total cholesterol measurements</li>
        <li>Rapid Prostate Specific Antigen screening test</li>
        <li>Haemoglobin (Iron)</li>
        <li>Other Assessments</li>
        <li>Blood pressure measurement</li>
        <li>Body Mass Index</li>
        <li>Waist to Hip measurement & Ratio</li>
        <li>Peak Flow</li>
        <li>Urinalysis</li>
        <li>Basic visual screening</li>
      </ul>
    </main>

{% endblock %}
