{% extends "layouts/default.njk" %}

{% block content %}

    <div class="jumbotron">
      <div class="container">
        <h2>Contact</h2>
      </div>
    </div>

    <main class="container">
      <p class="lead">{The contact page}</p>
    </main>

{% endblock %}
