{% extends "layouts/default.njk" %}

{% block content %}

{% import 'macros/navigation.njk' as nav %}
{{nav.active('tuberculosis')}}

    <div class="jumbotron">
      <div class="container">
        <h2>Tuberculosis Education</h2>
      </div>
    </div>

    <main class="container">
      <p class="lead">{Introductory text about tuberculosis education goes here.}</p>
    </main>

{% endblock %}
