{% extends "layouts/default.njk" %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1>Quintessential wellbeing</h1>
      <p>Quinhealth is a company of nurses established in 2006 specialising in corporate wellness.</p>
    </div>
  </div>


  <div class="container">
    <p>We are an independant practice which offers these services to companies of all sizes.</p>
    <div class="services">

      <div class="row">
        <div class="col-md-4">
          <h4>Wellness assessments</h4>
        </div>
        <div class="col-md-4">
          <h4>HIV counselling &amp; testing</h4>
        </div>
        <div class="col-md-4">
          <h4>Tuberculosis education &amp; screening</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>Reproductive health assessments</h4>
        </div>
        <div class="col-md-4">
          <h4>Flu vaccinations</h4>
        </div>
      </div>
    </div>

    <p>We aim to provide high quality, efficient and effective health screening by delivering a comprehensive service, incorporating:</p>
    <ul>
      <li>The provision of customized assessments matching the individual needs of our clients</li>
      <li>The implementation of the required screening tests using top quality equipment and technology, in a professional manner</li>
      <li>The utilization of appropriate referral pathways resulting in meaningful outcomes for our client and their work force</li>
      <li>Working as a service provider to other large Health and Wellness Organisations</li>
    </ul>

  </div>

{% endblock %}
