{% extends "layouts/default.njk" %}

{% block content %}

{% import 'macros/navigation.njk' as nav %}
{{nav.active('hiv')}}

    <div class="jumbotron">
      <div class="container">
        <h2>HIV counselling &amp; testing</h2>
      </div>
    </div>

    <main class="container">
      <p class="lead">{Introductory text about HIV counselling &amp; testing goes here.}</p>
    </main>

{% endblock %}
